**1. What are data structures, and why are they important?**
Ans. Data structures are way of storing data for better manipulation and storing of data. They are important because data is important to give us insights.

**2.  Explain the difference between mutable and immutable data types with examples?**
Ans. Mutable datatypes are datatypes to which changes can be made but immutable datatypes are data types to which changes cant be made. For example lists, sets are datatypes to which changes can be made and whereas tuples are datatypes to which changes cant be made.

**3. What are the main differences between lists and tuples in Python?**
Ans Lists are datatypes which are mutable and changes can be made but tuples are datatypes which are immutable and changes cant be made.

**4. Describe how dictionaries store data**
Ans. Dictionaries store data as key value pairs.

**5. Why might you use a set instead of a list in Python?**
Ans. we might use set instead of list as it has unique collect of elements and does not allow repetition of elements.

**6.  What is a string in Python, and how is it different from a list?**
Ans. Strings and list are both datatypes but strings store only character values but lists store collection of elements and the elements can of different datatypes. Eg string="abc" and list1=[1,"a",[1,2,3]].

**7. How do tuples ensure data integrity in Python?**
Ans. Tuples are datatypes that are immutable so we cant make changes stored in the memory. For example if we need to store employee ids we can store it in tuples and we cnat make changes in it and hence store the integrity of information.

**8. What is a hash table, and how does it relate to dictionaries in Python?**
Ans. Hash table is a data type that stores key value pairs . Dictionaries are created using hash tables. The keys should be of datatypes whose hash value does not change over time.

**9. Can lists contain different data types in Python?**
Ans. Yes , lists can contain different datatypes as elements.

**10. Explain why strings are immutable in Python.**
Ans. strings are immutable meaning we cant change its value once stored.Since it can be used as the keys for dictionaries whose hash value should not change , hence strings are immutable.

**11. What advantages do dictionaries offer over lists for certain tasks?**
Ans. Dictionaries store key value pairs and it helps in storing data which have keys that have subinformation eg name, age, marksetc. Whereas lists are used used to have unordered set of elements which can be of different datatypes. Eg list1=[["ajay",20],["atul",30],["ram",24]] , dict1={"name":["ajay","atul","ram","age":[20,30,24]}. we see that list1 and dict1 have same data bur dict1 which is a dictionary is more organised.

**12. Describe a scenario where using a tuple would be preferable over a list.**
Ans. we take a senerio of a office where we need to store employee id . we would want to store and protect data and choose a way where we cant change the data. For this purpose tuples can be prefered over lists as tuples are immutable.

**13.How do sets handle duplicate values in Python?**
Ans. Sets deletes the duplicate data or data that has been repeated more than once and gives us unique elements.

**14. How does the “in” keyword work differently for lists and dictionaries?**
Ans. "in" keyword is used to check membership. "in" is used in list to check whether a particular element is in the list or not and "in" is used to check whether a particular key is present or not in the dictionary.

**15. Can you modify the elements of a tuple? Explain why or why not?**
Ans. No we cant modify the elements of tuple since it is immutable and its hash value cant be changed.

**16. What is a nested dictionary, and give an example of its use case?**
Ans. Nested Dictitionary is a dictionary where the values of keys are dictionaries itself.eg.students={"ajay":{"age":20,"major":"maths"},"atul":{"age":20,"major":"english"}}. its used for better and precise storing of data.

**17.  Describe the time complexity of accessing elements in a dictionary?**
Ans. When we  access an element using a key like dict1["name"] Python hashes the key to find the respective value in memory. This hash-based lookup takes the same amount of time regardless of the size of the dictionary.

**18. In what situations are lists preferred over dictionaries?**
Ans. We prefer lists over dictionaries when there are simple collection of data and we have to have index based searching of our data.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
Ans. Dictionaries are considered unordered because we do not give indexing of the data and we acnt retrive data using indexing properties like lists or tuples. we retrive data using the key names.

**20.  Explain the difference between a list and a dictionary in terms of data retrieval.**
Ans. lists use index to identity the position of elements inside it and they are ordered. we can simply retrieve data using indexing like list1[index_value]. Whereas dictionaries are unordered collection of data and cant use indexing to retrieve data, thus we use key to retrive data.

In [ ]:
#practical questions
#1. Write a code to create a string with your name and print it
name="Madhusree Purkayastha"
print(name)

Madhusree Purkayastha

In [ ]:
#2.  Write a code to find the length of the string "Hello World".

a="Hello World"
length=len(a)
print("The length of 'Hello World' is ",length )

The length of 'Hello World' is  11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

word="Python Programming"
print(word[0:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.

word="hello"
print(word.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

sentence="I like apple."
print(sentence.replace("apple","orange"))

I like orange.

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

list1=[]
for i in range(1,6):
  list1.append(i)
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

num=[1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

num=[1,2,3,4,5]
num.remove(3)
print(num)

[1, 2, 4, 5]

In [ ]:
#9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters=['a','b','c','d']
print(letters[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

num=[10,20,30,40,50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

t=(100,200,300)
print(t)
print(type(t))

(100, 200, 300)
<class 'tuple'>

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t=('red', 'green', 'blue', 'yellow')
print(t)
print("the second last element is ",t[2])

('red', 'green', 'blue', 'yellow')
the second last element is  blue

In [ ]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t=(10, 20, 5, 15)
print(t)
print("The minimum element of the tuple is ",min(t))

(10, 20, 5, 15)
The minimum element of the tuple is  5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals=('dog', 'cat', 'rabbit')
print(animals)
print("The index of the 'cat' in the tuple is ",animals.index('cat'))

('dog', 'cat', 'rabbit')
The index of the 'cat' in the tuple is  1

In [ ]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits=("apple","banana","kiwi")
print(fruits)
if "kiwi" in fruits:
  print("kiwi is there in the tuple.")
else:
  print("kiwi is not there.")

('apple', 'banana', 'kiwi')
kiwi is there in the tuple.

In [ ]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

letters={'a','b', 'c'}
print(letters)
print(type(letters))

{'a', 'c', 'b'}
<class 'set'>

In [ ]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

num={1, 2, 3, 4, 5}
num.clear()
print(num)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

num={1, 2, 3, 4}
num.remove(4)
print(num)

{1, 2, 3}

In [ ]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

num1={1, 2, 3}
print(num1)
num2={3, 4, 5}
print(num2)
print("union is ",num1|num2)

{1, 2, 3}
{3, 4, 5}
union is  {1, 2, 3, 4, 5}

In [ ]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

num1={1, 2, 3}
print(num1)
num2={2, 3, 4}
print(num2)
print("the intersection is ",num1 & num2)

{1, 2, 3}
{2, 3, 4}
the intersection is  {2, 3}

In [ ]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict1={"name":"Madhusree",
       "age":23,
       "city":"Guwahati"}
print(dict1)
print(type(dict1))

{'name': 'Madhusree', 'age': 23, 'city': 'Guwahati'}
<class 'dict'>

In [ ]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict1={'name': 'John', 'age': 25}
dict1["country"]="USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

dict1={'name': 'Alice', 'age': 30}
print(dict1)
print(dict1["name"])

{'name': 'Alice', 'age': 30}
Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict1={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop("age")
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

dict1={'name': 'Alice', 'city': 'Paris'}
if "city" in dict1:
  print("city exits")
else:
  print("dosent exist")

city exits

In [ ]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

list1=[1,2,2,3,4,5]
print(list1)
tuple1=("i","dont","know")
print(tuple1)
dict1={'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dict1)

[1, 2, 2, 3, 4, 5]
('i', 'dont', 'know')
{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)

import random

list1=[]
for i in range(0,5):
  i=random.randint(1,101)
  list1.append(i)
  list1.sort()
print(list1)

[6, 11, 27, 60, 61]

In [ ]:
#28.  Write a code to create a list with strings and print the element at the third index.

letters=["a","b","c","d"]
print(letters)
index=int(input("enter the index u wish to find: "))
print(f"the letter at {index} is ",letters[index])

['a', 'b', 'c', 'd']
enter the index u wish to find: 3
the letter at 3 is  d

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1={'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dict1)
dict2={"job":"datascience","phn_no":1234}
print(dict2)
dict1.update(dict2)
print(dict1)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'job': 'datascience', 'phn_no': 1234}
{'name': 'Bob', 'age': 22, 'city': 'New York', 'job': 'datascience', 'phn_no': 1234}

In [ ]:
#30.  Write a code to convert a list of strings into a set.

letters=["a","b","c","d"]
print(letters)
print("The set version of the list is ",set(letters))

['a', 'b', 'c', 'd']
The set version of the list is  {'d', 'b', 'a', 'c'}